# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Force CRLF for Windows-specific files
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.tar.gz binary
*.zip binary
*.jar binary
