# See http://help.github.com/ignore-files/ for more about ignoring files.

# license files
*.cfg

# private projects

/authentication/
/binaries/oe/11.7
/binaries/oe/12.2
/exact_db
/exact_pas
/kafka
/anticimex
/exact
/rcd
/pasoe



# unused files
docker-compose-amazon.yml
.dockerignore

# OE Setups (tar.gz and response files except for sample)
*.tar.gz
*.tar
*.ini
*.bin
*.zip
!sample_response.ini
*.lic
*.lg
*.jar
*.r
*.crt
*.key

# Jenkins binaries
jenkins/agent/binaries/OpenEdge.BusinessLogic.pl
jenkins/agent/binaries/PCT.jar

# PAS dev keystore
pas_dev/config/keystore/tomcat-keystore.p12
