# See http://help.github.com/ignore-files/ for more about ignoring files.

# license files
*.cfg

# private projects

/authentication/
/binaries
/exact_db
/exact_pas
/kafka
/anticimex
/exact
/devcontainer
/rcd



# unused files
docker-compose-amazon.yml
.dockerignore

# OE Setups (tar.gz and response files except for sample)
*.tar.gz
*.ini
*.bin
*.zip
!sample_response.ini
*.lic
*.lg
*.jar


pro2/db_oracle/oradata/ORCLCDB/control01.ctl
pro2/db_oracle/oradata/ORCLCDB/redo01.log
pro2/db_oracle/oradata/ORCLCDB/redo02.log
pro2/db_oracle/oradata/ORCLCDB/redo03.log
pro2/db_oracle/oradata/ORCLCDB/sysaux01.dbf
pro2/db_oracle/oradata/ORCLCDB/system01.dbf
pro2/db_oracle/oradata/ORCLCDB/undotbs01.dbf
pro2/db_oracle/oradata/ORCLCDB/users01.dbf
pro2/db_oracle/oradata/ORCLCDB/ORCLPDB1/sysaux01.dbf
pro2/db_oracle/oradata/ORCLCDB/ORCLPDB1/system01.dbf
pro2/db_oracle/oradata/ORCLCDB/ORCLPDB1/temp01.dbf
pro2/db_oracle/oradata/ORCLCDB/ORCLPDB1/undotbs01.dbf
pro2/db_oracle/oradata/ORCLCDB/ORCLPDB1/users01.dbf
pro2/db_oracle/oradata/dbconfig/ORCLCDB/spfileORCLCDB.ora
jenkins/agent/binaries/OpenEdge.BusinessLogic.pl
jenkins/agent/binaries/PCT.jar
